<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Error!</title>
    <link href="/static/app.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="main">Oh no!</div>
</body>
</html>
